<a href="https://colab.research.google.com/github/motoroko/machinelearning/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from google.colab import files
from collections import Counter
from sklearn.model_selection import train_test_split

In [3]:
uploaded = files.upload()

Saving air_bnb.csv to air_bnb (1).csv

In [0]:
df = pd.read_csv(io.BytesIO(uploaded['air_bnb.csv']))

In [39]:
df.head(20)

       id  ... availability_365
0    2015  ...              141
1    2695  ...                0
2    3176  ...              220
3    3309  ...              297
4    7071  ...               26
5    9991  ...              137
6   14325  ...              129
7   16401  ...              365
8   16644  ...              159
9   17409  ...               42
10  17904  ...              232
11  20858  ...              166
12  21869  ...              129
13  22415  ...              257
14  22677  ...              228
15  23834  ...              275
16  24569  ...                3
17  25653  ...               15
18  26543  ...              336
19  28156  ...              191

[20 rows x 16 columns]

In [42]:
df.describe()

                 id  ...  availability_365
count  2.255200e+04  ...      22552.000000
mean   1.571560e+07  ...         79.852829
std    8.552069e+06  ...        119.368162
min    2.015000e+03  ...          0.000000
25%    8.065954e+06  ...          0.000000
50%    1.686638e+07  ...          4.000000
75%    2.258393e+07  ...        129.000000
max    2.986735e+07  ...        365.000000

[8 rows x 10 columns]

In [49]:
df.groupby('class').size()

KeyError: ignored

In [26]:
#pemisahan data training dan data uji
df_training = df.dropna()
df_training,df_unseen1 = train_test_split(df_training, test_size=0.5)
df_unseen1,df_unseen2 = train_test_split(df_unseen1,test_size=0.5)
df_training

             id  ... availability_365
12275  18150993  ...               63
14111  20123963  ...                1
6493    9413152  ...               63
17654  23367569  ...                0
18299  24048834  ...                0
...         ...  ...              ...
7902   11605452  ...              313
8815   13272232  ...                0
17743  23463023  ...              333
9265   13897245  ...                0
1408    1786499  ...                0

[9293 rows x 16 columns]

In [27]:
df_qual = df[df.isnull().any(axis='columns')]
df_qual

             id  ... availability_365
7         16401  ...              365
44        48955  ...              129
47        55298  ...              365
166      200125  ...               55
171      205296  ...              282
...         ...  ...              ...
22547  29856708  ...              314
22548  29857108  ...               78
22549  29864272  ...               15
22550  29866805  ...                6
22551  29867352  ...               21

[3965 rows x 16 columns]

In [28]:
#Categorical Encoding

def delduplicate(a):
  b = a
  return list(Counter(b))

neighbourhood_group,neighbourhood,room_type=[],[],[]

neighbourhood_group = delduplicate(df_training['neighbourhood_group'])
neighbourhood = delduplicate(df_training['neighbourhood'])
room_type = delduplicate(df_training['room_type'])

for i in range(len(df_training)):
  for j in range(len(neighbourhood_group)):
    if df_training['neighbourhood_group'].iloc[i] == neighbourhood_group[j]:
      df_training['neighbourhood_group'].iloc[i] = j+1
      break
  for j in range(len(neighbourhood)):
    if df_training['neighbourhood'].iloc[i] == neighbourhood[j]:
      df_training['neighbourhood'].iloc[i] = j+1
      break
  for j in range(len(room_type)):
    if df_training['room_type'].iloc[i] == room_type[j]:
      df_training['room_type'].iloc[i] = j+1
      break

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [29]:
df_training

             id  ... availability_365
12275  18150993  ...               63
14111  20123963  ...                1
6493    9413152  ...               63
17654  23367569  ...                0
18299  24048834  ...                0
...         ...  ...              ...
7902   11605452  ...              313
8815   13272232  ...                0
17743  23463023  ...              333
9265   13897245  ...                0
1408    1786499  ...                0

[9293 rows x 16 columns]

In [30]:
a = df_training['last_review'].str.split('-',expand=True)
df_training["tahun"] = a[0].astype(int)
df_training["bulan"] = a[1].astype(int)
df_training['tanggal'] = a[2].astype(int)
df_training

             id  ... tanggal
12275  18150993  ...       8
14111  20123963  ...      24
6493    9413152  ...       9
17654  23367569  ...      30
18299  24048834  ...      31
...         ...  ...     ...
7902   11605452  ...      19
8815   13272232  ...       1
17743  23463023  ...      10
9265   13897245  ...       5
1408    1786499  ...      22

[9293 rows x 19 columns]

In [31]:
#scaling minmax

temp = df_training
for i in range(len(temp)):
  temp['neighbourhood_group'].iloc[i] = (temp['neighbourhood_group'].iloc[i] - min(temp['neighbourhood_group'])) / (max(temp['neighbourhood_group']) - min(temp['neighbourhood_group']));
  temp['neighbourhood'].iloc[i] = (temp['neighbourhood'].iloc[i] - min(temp['neighbourhood'])) / (max(temp['neighbourhood']) - min(temp['neighbourhood']));
  temp['latitude'].iloc[i] = (temp['latitude'].iloc[i] - min(temp['latitude'])) / (max(temp['latitude']) - min(temp['latitude']));
  temp['longitude'].iloc[i] = (temp['longitude'].iloc[i] - min(temp['longitude'])) / (max(temp['longitude']) - min(temp['longitude']));
  temp['room_type'].iloc[i] = (temp['room_type'].iloc[i] - min(temp['room_type'])) / (max(temp['room_type']) - min(temp['room_type']));
  temp['price'].iloc[i] = (temp['price'].iloc[i] - min(temp['price'])) / (max(temp['price']) - min(temp['price']));
  temp['minimum_nights'].iloc[i] = (temp['minimum_nights'].iloc[i] - min(temp['minimum_nights'])) / (max(temp['minimum_nights']) - min(temp['minimum_nights']));
  temp['number_of_reviews'].iloc[i] = (temp['number_of_reviews'].iloc[i] - min(temp['number_of_reviews'])) / (max(temp['number_of_reviews']) - min(temp['number_of_reviews']));
  temp['reviews_per_month'].iloc[i] = (temp['reviews_per_month'].iloc[i] - min(temp['reviews_per_month'])) / (max(temp['reviews_per_month']) - min(temp['reviews_per_month']));
  temp['calculated_host_listings_count'].iloc[i] = (temp['calculated_host_listings_count'].iloc[i] - min(temp['calculated_host_listings_count'])) / (max(temp['calculated_host_listings_count']) - min(temp['calculated_host_listings_count']));
  temp['availability_365'].iloc[i] = (temp['availability_365'].iloc[i] - min(temp['availability_365'])) / (max(temp['availability_365']) - min(temp['availability_365']));
  temp['tahun'].iloc[i] = (temp['tahun'].iloc[i] - min(temp['tahun'])) / (max(temp['tahun']) - min(temp['tahun']));
  temp['bulan'].iloc[i] = (temp['bulan'].iloc[i] - min(temp['bulan'])) / (max(temp['bulan']) - min(temp['bulan']));
  temp['tanggal'].iloc[i] = (temp['tanggal'].iloc[i] - min(temp['tanggal'])) / (max(temp['tanggal']) - min(temp['tanggal']));

temp

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

             id  ...   tanggal
12275  18150993  ...  0.233333
14111  20123963  ...  0.772481
6493    9413152  ...  0.284940
17654  23367569  ...  0.967497
18299  24048834  ...  1.000000
...         ...  ...       ...
7902   11605452  ...  0.863447
8815   13272232  ...  0.044131
17743  23463023  ...  0.453789
9265   13897245  ...  0.226201
1408    1786499  ...  1.000000

[9293 rows x 19 columns]

In [33]:
#scaling mean

temp2 = df_training
for i in range(len(temp2)):
  temp2['neighbourhood_group'].iloc[i] = (temp2['neighbourhood_group'].iloc[i] - np.mean(temp2['neighbourhood_group'])) / (max(temp2['neighbourhood_group']) - min(temp2['neighbourhood_group']));
  temp2['neighbourhood'].iloc[i] = (temp2['neighbourhood'].iloc[i] - np.mean(temp2['neighbourhood'])) / (max(temp2['neighbourhood']) - min(temp2['neighbourhood']));
  temp2['latitude'].iloc[i] = (temp2['latitude'].iloc[i] - np.mean(temp2['latitude'])) / (max(temp2['latitude']) - min(temp2['latitude']));
  temp2['longitude'].iloc[i] = (temp2['longitude'].iloc[i] - np.mean(temp2['longitude'])) / (max(temp2['longitude']) - min(temp2['longitude']));
  temp2['room_type'].iloc[i] = (temp2['room_type'].iloc[i] - np.mean(temp2['room_type'])) / (max(temp2['room_type']) - min(temp2['room_type']));
  temp2['price'].iloc[i] = (temp2['price'].iloc[i] - np.mean(temp2['price'])) / (max(temp2['price']) - min(temp2['price']));
  temp2['minimum_nights'].iloc[i] = (temp2['minimum_nights'].iloc[i] - np.mean(temp2['minimum_nights'])) / (max(temp2['minimum_nights']) - min(temp2['minimum_nights']));
  temp2['number_of_reviews'].iloc[i] = (temp2['number_of_reviews'].iloc[i] - np.mean(temp2['number_of_reviews'])) / (max(temp2['number_of_reviews']) - min(temp2['number_of_reviews']));
  temp2['reviews_per_month'].iloc[i] = (temp2['reviews_per_month'].iloc[i] - np.mean(temp2['reviews_per_month'])) / (max(temp2['reviews_per_month']) - min(temp2['reviews_per_month']));
  temp2['calculated_host_listings_count'].iloc[i] = (temp2['calculated_host_listings_count'].iloc[i] - np.mean(temp2['calculated_host_listings_count'])) / (max(temp2['calculated_host_listings_count']) - min(temp2['calculated_host_listings_count']));
  temp2['availability_365'].iloc[i] = (temp2['availability_365'].iloc[i] - np.mean(temp2['availability_365'])) / (max(temp2['availability_365']) - min(temp2['availability_365']));
  temp2['tahun'].iloc[i] = (temp2['tahun'].iloc[i] - np.mean(temp2['tahun'])) / (max(temp2['tahun']) - min(temp2['tahun']));
  temp2['bulan'].iloc[i] = (temp2['bulan'].iloc[i] - np.mean(temp2['bulan'])) / (max(temp2['bulan']) - min(temp2['bulan']));
  temp2['tanggal'].iloc[i] = (temp2['tanggal'].iloc[i] - np.mean(temp2['tanggal'])) / (max(temp2['tanggal']) - min(temp2['tanggal']));

temp2

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

             id  ...   tanggal
12275  18150993  ... -0.287270
14111  20123963  ...  0.202510
6493    9413152  ... -0.176183
17654  23367569  ...  0.354092
18299  24048834  ...  0.379392
...         ...  ...       ...
7902   11605452  ...  0.526759
8815   13272232  ... -0.077953
17743  23463023  ...  0.224426
9265   13897245  ...  0.056462
1408    1786499  ...  0.627617

[9293 rows x 19 columns]